
.example input {
    padding: 10px;
    font-size: 18px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
  }
  
  .example button {
    float: left;
    width: 5%;
    padding: 13px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 2px;
   
  }
  
  .example button:hover {
    background: #0b7dda;
  }
  

.text_analyze{
  margin-top: 90px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
#navbr{
  background-color:#0B60B0;
color: black;
  }



#about{
  margin:0;
  margin-left: 4px;
  font-style: italic;
  width: 100%;
}  
h6{
  display: inline;
}
.icons{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 30px;
}
a{
  margin-left: 10px;
}

